<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<!--    <listeners>-->
<!--        <listener class-name="AutomationFramework.listeners.TestNGListeners"/>-->
<!--    </listeners>-->

    <test verbose="2" preserve-order="true"
          name="C:/Users/Dell/OneDrive/Desktop/Task/Dashboard-master/src/test/java/TestCase/TC1_VideoGamesPriceFilterAndBasketValidation.java">
        <classes>
            <class name="TestCase.TC1_VideoGamesPriceFilterAndBasketValidation">
                <methods>
                    <include name="userCanFilterVideoGames_AddEligibleProductsToCart_AndValidateBasket"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
